<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFaSfjq7syRuk4j7rPKbxI0JWHdVysWyM</string>
	<key>GCM_SENDER_ID</key>
	<string>764891173644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceBts</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-bts</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-bts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764891173644:ios:315ec6bd87384b7b2d2f29</string>
</dict>
</plist>